html {
  font-size: 0.625em;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

h1 {
  font-family: "ingra", Helvetica, sans-serif;
  font-size: 3rem;
  color: #333333;
  letter-spacing: 0.3rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1rem;
}

p,
a {
  font-family: "ingra", Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  text-align: center;
}

p {
  color: #767676;
}

a {
  color: #333333;
  transition: all 0.2s ease;
  text-decoration: underline;
}

a:hover {
  color: #000000;
}

button,
.btn-txt {
  color: #FFFFFF;
  font-family: "ingra", Helvetica, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

button {
  position: relative;
  margin: 1rem;
  padding: 1rem 5rem;
}

.btn-txt {
  vertical-align: middle;
}

.btn-icons {
  position: absolute;
  left: 1.6rem;
}

.btn-icon {
  height: 2rem;
  vertical-align: middle;
  padding-right: 1.6rem;
  position: absolute;
}

header {
  padding: 3rem 0;
}

.jmp-out {
  border: 2px solid #FFFFFF;
  background: #009688;
}

.jmp-out::after {
  content: "";
  background-color: #FFFFFF;
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.2s ease;
}

.jmp-out:hover::after {
  transform: translate(-0.75rem, -0.75rem);
}

.stack {
  border: 2px solid #FFFFFF;
  background: #FFBD4C;
}

.stack:hover {
  color: #FFBD4C;
  border-color: #FFBD4C;
  background: #FFFFFF;
}

.stack::after {
  content: "";
  background-color: #FFFFFF;
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.2s ease;
}

.stack:hover::after {
  transform: translate(-0.75rem, 0.75rem);
}

.cart-check {
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem 1rem 4.6rem;
  transition: all 0.2s ease;
}

.cart-check:hover {
  background: rgba(0, 0, 0, 0.4);
}

.shopping-cart path {
  fill: #FFFFFF;
  fill-opacity: 0.7;
  transition: all 0.2s ease;
}

.cart-check:hover .shopping-cart path {
  fill-opacity: 1;
}

.check-mark {
  height: 1.2rem;
  padding-left: 0.4rem;
}

.check-mark polyline {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  stroke-dasharray: 4rem;
  stroke-dashoffset: 4rem;
  transition: all 0.3s ease;
}

/*****Clicked Styling*****/
.cart-check.active {
  background: rgba(0, 0, 0, 0.4);
}

.cart-check.active .shopping-cart path {
  fill-opacity: 0.1;
}

.cart-check.active .check-mark polyline {
  stroke-dashoffset: 0;
}

/***** Grid Layout *****/
.grid-item {
  padding: 10rem 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
}
@media screen and (max-width: 720px) {
  .grid-item {
    width: 100%;
  }
}

li {
  display: inline-block;
}

.btn-list {
  position: relative;
  z-index: 1;
}

.btn-list li {
  margin: 1rem;
}

/***** Grid Colors *****/
.grid-color-1 {
  background: #1abc9c;
}

.grid-color-2 {
  background: #FFBD4C;
}

.grid-color-3 {
  background: #9b59b6;
}

.grid-color-4 {
  background: #5E35B1;
}

.grid-color-5 {
  background: #546E7A;
}
